<form action='/sign_up' method="POST">
  <label for="email_address">
    Email address
    <input type="email" name="email_address" value='<%=@user.email_address%>' required>
  </label>
  <label for="password">
    Password
    <input type="password" name="password">
  </label>
  <label for="password_confirmation">
    Password
    <input type="password" name="password_confirmation">
  </label>
  <input type="submit" value='Sign up'>
</form>
